body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.lackan{
  margin-top: 5%;
}
img:hover  {
  transform: scale(1.2);
  transition: transform .3s ease-out;
}
.linethrough{
  text-decoration: line-through;
  color:black;
}
.currentPrice{
  color:red;
}
.basket{
  color:#87CEEB;
  border:none;
  background: none;
  margin-right: 3% !important;
  margin-left: 7% !important;
}
.homebutton{
  background: none;
  border: 0;
  color: inherit;
}
.betala{
  margin-left: 23%;
}
.totalsumma{
  margin-top: 5%;
}
.varuKorg{
  margin-bottom: 5%;
}
.delete{
  border:none;
  background: none;
}
